<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Triplan</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://use.fontawesome.com/babd185944.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'custom.css' %}">

    {% block imports %}
    {% endblock imports %}

    {{ form.media }}

</head>
<body>
    {% block body %}
    {% endblock body %}
</body>
</html>