<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Triplan</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    {% block imports %}
    {% endblock imports %}

    {{ form.media }}

</head>
<body>
    <div class="panel col-sm-8 col-sm-offset-2">
        {% block body %}
        {% endblock body %}
    </div>
</body>
</html>