{% extends "triplan/base.html" %}
{% block body %}
{% load humanize %}
<h1> Hello world, {{ request.user.username }}.</h1>
<a href="{% url 'triplan:itinerary_create' %}" class="btn btn-success pull-right">Create new itinerary</a>
<ul>
    {% for itinerary in itinerary_list %}
    <div class="col-sm-12">
        <a href="{% url 'triplan:itinerary_detail' itinerary.id %}" class="btn btn-default">
            <strong>{{ itinerary.title }} </strong> &nbsp;
            <span class="pull-right">
            added by {{ itinerary.owner }} on {{ itinerary.date_added | naturaltime }}
            </span>
        </a>
    </div>
    {% endfor %}
</ul>
{% endblock body %}
