{% extends 'triplan/base.html' %}
{% block body %}
{% load bootstrap3 %}

    <h3>Adding new segment in <strong>{{ itinerary.title }}</strong></h3>

    <form action="" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {% bootstrap_form form layout='inline' %}
        <a href="{% url 'triplan:itinerary_detail' itinerary.id %}" class="btn btn-default">Back</a>
        <button class="btn btn-success" type="submit" value="save">Save</button>
    </form>

{% endblock body %}